////
/// Layout of the page
///
/// @group Elements
///
////

/// Text default font and color
body { font-family: $font; font-weight: $fw-regular; color: $color-text; font-size: 10px;   transition: background-color 1s;
}
.vimeo-on{
  background-color: darken($dark-blue, 60%);
  transition: background-color 1.4s;
}